
<div class="header">
    <div class="container">
    <div class="header-left">
        <!-- <span> -->
            <img src="../../assets/hals.jpg" alt="" style="height:45px; width: 55px">
            <!-- <span class="header-text">
                Welcome to Halsversity</span>
        </span> -->
    </div>
    <!-- <div class="header-center"><p >phello world</p></div> -->

    <div class="header-right">
      <a class="active" href="#home">Home</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
</div>
</div>

